<div class="index-container">

    <div class="left">
    <p><%= tool.category %></p>
    <p><%= tool.brand %></p>
    </div>

    <div class="right">
    <p><%=tool.daily_rate%> EURO/DAY</p>
    </div>

</div>
