

    .table {
      width:90%;
      height: 250px;
      margin-top: 12px;
      border: none;
      border-bottom: 1px solid #DBDBD9;
      border-top: 1px solid #DBDBD9;
      padding: 14px;
      background-color: #DBDBD9;

    }

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin-left: 320px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
}
.banner h2 {
  margin-left: 320px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.banner em {
  color: orange;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.table {
  border-radius: 8px;
  border: none ;
}
.show-page-container {
  width: 100vw;
  display: flex;
  .left {
    margin: 32px;
    width: 50vw;
    height: 500px;

  .right {
    width: 50vw;
    height: 500px;
  }
}
}

