
.index-container {
  width: 100%;
  display: flex;
  flex-direction: row;

  .left {
  width:70%;
  }
  .right {
  width:30%;
  }

}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
