.navbar-lewagon {
  justify-content: space-between;
  background: #34393F;

}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav-link {
  color: white !important;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
